[submodule "Plugins/HorizonPlugin/HorizonTweenPlugin"]
	path = Plugins/HorizonPlugin/HorizonTweenPlugin
	url = https://horizon-studio.visualstudio.com/DefaultCollection/HorizonPlugin/_git/HorizonTweenPlugin
[submodule "Plugins/HorizonPlugin/HorizonUIPlugin"]
	path = Plugins/HorizonPlugin/HorizonUIPlugin
	url = https://horizon-studio.visualstudio.com/DefaultCollection/HorizonPlugin/_git/HorizonUIPlugin
[submodule "Plugins/HorizonPlugin/HorizonDialoguePlugin"]
	path = Plugins/HorizonPlugin/HorizonDialoguePlugin
	url = https://horizon-studio.visualstudio.com/DefaultCollection/HorizonPlugin/_git/HorizonDialoguePlugin
