Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.vs
/Build/WindowsNoEditor/FileOpenOrder/*.log
*~$*.xlsx
/*.nupkg
.scannerwork
.vscode
/Content/NonUFS/Copy/Game.version
/.signature.p7s
/horizondialoguedemo.nuspec
